#
# bento-box
# continous integration (ci) pipeline
# 

name: "CI Pipeline"
on: push
env:
  DOCKER_BUILDKIT: 1
    
jobs:
  # quick check that protos can be compiled by protoc
  check-protos:
    runs-on: ubuntu-latest
    name: "Check Protos compilable"
    env:
      PROTO_DIR: protos
    steps:
      - uses: actions/checkout@v2
      - name: "Install protoc"
        run: |
          mkdir bin
          make BIN_DIR=bin dep-protoc
      - name: "Compile Protos with protoc"
        run: |
          ./bin/protoc -I ${PROTO_DIR} --cpp_out=/tmp ${PROTO_DIR}/bento/protos/*.proto
        
  # build & unit tests simulator component
  build-test-sim:
    needs: check-protos
    runs-on: ubuntu-latest
    name: "Build & Test bentobox-sim" 
    steps:
      - uses: actions/checkout@v2
      - name: "Build bentobox-sim"
        run: |
          docker build -t bentobox-sim -f infra/docker/sim/Dockerfile .
      - name: "Unit Test bentobox-sim"
        run: |
          docker run bentobox-sim make test-sim
        
  # build & unit tests sdk component
  build-test-sdk:
    needs: check-protos
    runs-o
    steps:
      - uses: actions/checkout@v2
      - name: "Build bentobox-sdk"
        run: |
          docker build -t bentobox-sdk -f infra/docker/sdk/Dockerfile .
      - name: "Unit Test bentobox-sdk"
        run: |
          docker run bentobox-sdk make test-sdk
